api-escalation-receivers-from-mobile-app-MUyinrNrRH2ZtKgM.json
{"id":"MUyinrNrRH2ZtKgM","createdAt":"2023-08-08T21:02:34.393Z","updatedAt":"2023-08-08T22:15:03.000Z","name":"API Escalation Receivers From Mobile App","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"escalations","options":{}},"id":"29bfdce7-2af5-46eb-aab5-f48be62b5b0f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[180,460],"webhookId":"0f86cccf-befd-4469-b84c-ab3fbe537739"},{"parameters":{"jsCode":"const groupedData = {};\n\n// Loop over input items and group the data by 'emailAddress' and 'ownedSnid'\nfor (const item of $input.all()) {\n  const emailAddress = item.json.emailAddress;\n  const ownedSnid = item.json.ownedSnid;\n  const isChecked = item.json.isChecked;\n  const days = item.json.days;\n  const key = `${emailAddress}-${ownedSnid}`;\n\n  if (!groupedData[key]) {\n    groupedData[key] = {\n      emailAddress: emailAddress,\n      ownedSnid: ownedSnid,\n      ownedPerson: null,\n      '3days': 0,\n      '5days': 0,\n      '9days': 0,\n      '10days': 0\n    };\n  }\n\n  // Set the value for the corresponding day column based on 'isChecked'\n  groupedData[key][`${days}days`] = isChecked ? 1 : 0;\n}\n\n// Convert the grouped data into an array of objects\nconst transformedItems = Object.values(groupedData);\n\nreturn transformedItems.map(item => ({ json: item }));\n"},"id":"0692acfd-6af6-4462-bac8-c091380f50d0","name":"Function","type":"n8n-nodes-base.code","typeVersion":1,"position":[500,460]},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"4bbd895f-9326-4ee1-b2f1-c2c8373f0cbe","name":"Json Array","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[340,460]},{"parameters":{"operation":"executeQuery","query":"SELECT Person_ID FROM People_List WHERE EmailAddress = '{{$json[\"emailAddress\"]}}'\n"},"id":"ef924a11-2a16-4af6-bec6-4b5a2bbf2b64","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1040,380],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}},{"parameters":{"batchSize":1,"options":{}},"id":"634a5e25-03db-4bd1-b961-648308e1821a","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[660,460]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"205904ea-0ff9-4ce4-af8b-3c12ce70d1b9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1120,640],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"person_ID","value":"={{ $json.Person_ID }}"}]},"options":{}},"id":"a8235880-8a4e-4178-ac70-15c390cfd27e","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[940,580]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO escalationReceivers (ownedSnid, ownedPerson, \"3days\", \"5days\", \"9days\", \"10days\")\nVALUES ('{{$json[\"ownedSnid\"]}}', {{$json[\"person_ID\"]}}, {{$json[\"3days\"]}}, {{$json[\"5days\"]}}, {{$json[\"9days\"]}}, {{$json[\"10days\"]}})\n"},"id":"f925a01e-97f0-4382-8532-d591ae9358ca","name":"Microsoft SQL1","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1540,620],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}},{"parameters":{"batchSize":1,"options":{}},"id":"3d27b50d-e918-4d68-9c32-2cb8edfac824","name":"Split In Batches1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1360,640]}],"connections":{"Webhook":{"main":[[{"node":"Json Array","type":"main","index":0}]]},"Json Array":{"main":[[{"node":"Function","type":"main","index":0}]]},"Function":{"main":[[{"node":"Split In Batches","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split In Batches":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Split In Batches1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a76202ef-9b0c-451d-9f44-735bf483431c","triggerCount":1,"tags":[]}