API-Escalation-Receivers-From-Mobile-App.json
{"createdAt":"2023-12-13T09:28:33.819Z","updatedAt":"2023-12-13T09:28:54.000Z","id":"65dvhX49zywxVLCX","name":"API Escalation Receivers From Mobile App","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"escalations","options":{}},"id":"2b9c2f3e-dea2-480e-8012-e265dadccab2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-120,480],"webhookId":"0f86cccf-befd-4469-b84c-ab3fbe537739"},{"parameters":{"jsCode":"const groupedData = {};\n\n// Loop over input items and group the data by 'emailAddress' and 'ownedSnid'\nfor (const item of $input.all()) {\n  const emailAddress = item.json.emailAddress;\n  const ownedSnid = item.json.ownedSnid;\n  const isChecked = item.json.isChecked;\n  const days = item.json.days;\n  const key = `${emailAddress}-${ownedSnid}`;\n\n  if (!groupedData[key]) {\n    groupedData[key] = {\n      emailAddress: emailAddress,\n      ownedSnid: ownedSnid,\n      ownedPerson: null,\n      '3days': 0,\n      '5days': 0,\n      '9days': 0,\n      '10days': 0\n    };\n  }\n\n  // Set the value for the corresponding day column based on 'isChecked'\n  groupedData[key][`${days}days`] = isChecked ? 1 : 0;\n}\n\n// Convert the grouped data into an array of objects\nconst transformedItems = Object.values(groupedData);\n\nreturn transformedItems.map(item => ({ json: item }));\n"},"id":"e6dcf456-d2bf-4e58-acb7-cb5793da2150","name":"Function","type":"n8n-nodes-base.code","typeVersion":1,"position":[200,480]},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"4b84bad8-309f-4054-a768-fde635e8ef73","name":"Json Array","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[40,480]},{"parameters":{"operation":"executeQuery","query":"SELECT Person_ID FROM People_List WHERE EmailAddress = '{{$json[\"emailAddress\"]}}'\n"},"id":"08839300-7a03-453c-ae45-4fc2dc46f74c","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[740,400],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"batchSize":1,"options":{}},"id":"35d60658-b8df-449f-9e44-9c7e7b6c8861","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[360,480]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"8c8bf7a9-359c-4475-b958-23ec3d2d708d","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[820,660],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"person_ID","value":"={{ $json.Person_ID }}"}]},"options":{}},"id":"9631d0d6-a732-49d1-a3fe-47d5941409c5","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,600]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO escalationReceivers (ownedSnid, ownedPerson, \"3days\", \"5days\", \"9days\", \"10days\")\nVALUES ('{{$json[\"ownedSnid\"]}}', {{$json[\"person_ID\"]}}, {{$json[\"3days\"]}}, {{$json[\"5days\"]}}, {{$json[\"9days\"]}}, {{$json[\"10days\"]}})\n"},"id":"51b2c51b-1b42-4b8f-b411-21268056c670","name":"Microsoft SQL1","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1240,640],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"batchSize":1,"options":{}},"id":"ed6be42a-4072-4189-bb11-16760925f7d4","name":"Split In Batches1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1060,660]}],"connections":{"Webhook":{"main":[[{"node":"Json Array","type":"main","index":0}]]},"Json Array":{"main":[[{"node":"Function","type":"main","index":0}]]},"Function":{"main":[[{"node":"Split In Batches","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split In Batches":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Split In Batches1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"492bf0ba-d019-409d-96d8-a096a3777b73","triggerCount":1,"tags":[]}