API-Escalation-Receivers-From-Mobile-App.json
{"createdAt":"2023-12-06T00:18:30.548Z","updatedAt":"2023-12-06T00:24:22.000Z","id":"4dhHsR6hGRccrgLz","name":"API Escalation Receivers From Mobile App","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"escalations","options":{}},"id":"6b6e9955-161d-495b-941a-a8ce371ab78f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-840,640],"webhookId":"0f86cccf-befd-4469-b84c-ab3fbe537739"},{"parameters":{"jsCode":"const groupedData = {};\n\n// Loop over input items and group the data by 'emailAddress' and 'ownedSnid'\nfor (const item of $input.all()) {\n  const emailAddress = item.json.emailAddress;\n  const ownedSnid = item.json.ownedSnid;\n  const isChecked = item.json.isChecked;\n  const days = item.json.days;\n  const key = `${emailAddress}-${ownedSnid}`;\n\n  if (!groupedData[key]) {\n    groupedData[key] = {\n      emailAddress: emailAddress,\n      ownedSnid: ownedSnid,\n      ownedPerson: null,\n      '3days': 0,\n      '5days': 0,\n      '9days': 0,\n      '10days': 0\n    };\n  }\n\n  // Set the value for the corresponding day column based on 'isChecked'\n  groupedData[key][`${days}days`] = isChecked ? 1 : 0;\n}\n\n// Convert the grouped data into an array of objects\nconst transformedItems = Object.values(groupedData);\n\nreturn transformedItems.map(item => ({ json: item }));\n"},"id":"17d4b131-6d3a-452c-9273-91e28c3bef51","name":"Function","type":"n8n-nodes-base.code","typeVersion":1,"position":[-520,640]},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"e512ac1b-fa02-445a-9ae8-08fa3a97f3d5","name":"Json Array","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[-680,640]},{"parameters":{"operation":"executeQuery","query":"SELECT Person_ID FROM People_List WHERE EmailAddress = '{{$json[\"emailAddress\"]}}'\n"},"id":"9aac597d-e56d-4f63-92e8-f1b6671fdef2","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[20,560],"credentials":{"microsoftSql":{"id":"GghuWeuxy89GXreX","name":"Cairnmead Prod MSSQL"}}},{"parameters":{"batchSize":1,"options":{}},"id":"1d8498ef-9a7f-4cde-bdaf-ea986e75f38e","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-360,640]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"537cb919-7c9f-4ec5-add0-a477a145f261","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[100,820],"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"person_ID","value":"={{ $json.Person_ID }}"}]},"options":{}},"id":"3672e677-4ed3-4f76-9c2e-af446bffc8a4","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[-80,760]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO escalationReceivers (ownedSnid, ownedPerson, \"3days\", \"5days\", \"9days\", \"10days\")\nVALUES ('{{$json[\"ownedSnid\"]}}', {{$json[\"person_ID\"]}}, {{$json[\"3days\"]}}, {{$json[\"5days\"]}}, {{$json[\"9days\"]}}, {{$json[\"10days\"]}})\n"},"id":"c7062810-d1ab-4ba9-924e-dee451471548","name":"Microsoft SQL1","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[520,800],"credentials":{"microsoftSql":{"id":"GghuWeuxy89GXreX","name":"Cairnmead Prod MSSQL"}}},{"parameters":{"batchSize":1,"options":{}},"id":"5fcc3443-2dae-4e5f-b4f7-7e1cc955846f","name":"Split In Batches1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[340,820]}],"connections":{"Webhook":{"main":[[{"node":"Json Array","type":"main","index":0}]]},"Json Array":{"main":[[{"node":"Function","type":"main","index":0}]]},"Function":{"main":[[{"node":"Split In Batches","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split In Batches":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Split In Batches1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e0e27c2f-a830-489c-9ddc-57d4e2529e95","triggerCount":1,"tags":[]}