Get-Contractor-Feedback.json
{"createdAt":"2023-12-13T09:29:36.188Z","updatedAt":"2023-12-13T20:11:12.000Z","id":"EvUa2uGV5CBgKISs","name":"Get Contractor Feedback","active":true,"nodes":[{"parameters":{"resource":"blob","operation":"upload","container":"proof-of-work","blobName":"={{ $json[\"headers\"][\"x-arr-log-id\"] }} - {{ $binary.ProofOfWork.fileName }}","binaryPropertyName":"=ProofOfWork"},"id":"34b3fe5e-38c1-4353-9330-675523baa2bf","name":"Azure Blob Storage","type":"n8n-nodes-azure-blob-storage.azureBlobStorage","typeVersion":1,"position":[720,640],"credentials":{"azureStorageApi":{"id":"tSCgnXIJeSzjNsJy","name":"Cairnmead Azure"}}},{"parameters":{"method":"POST","url":"https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ContractorFeedback\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"ContractorFeedback\"] }}\",\n  \"ProofOfWork\": \"https://cairnmeadlivestorage.blob.core.windows.net/proof-of-work/{{ $('Contractor Feedback').item.json[\"headers\"][\"x-arr-log-id\"] }} - {{ $('Contractor Feedback').item.binary.ProofOfWork.fileName }}\",\n  \"ContractorEmail\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"ContractorEmail\"] }}\",\n  \"OwnedSnid\": {{ $('Contractor Feedback').item.json[\"body\"][\"OwnedSnid\"] }},\n  \"OwnedNid\": {{ $('Contractor Feedback').item.json[\"body\"][\"OwnedNid\"] }},\n  \"NidStatus\": {{ $('Contractor Feedback').item.json[\"body\"][\"NidStatus\"] }},\n  \"ContractorName\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"contractorName\"] }}\",\n  \"ConsultantEmail\": \"null\",\n  \"ConsultantName\": \"null\",\n  \"RejectReason\": \"null\"\n}","options":{}},"id":"43fe4d56-8574-4802-9521-2c641c2e6189","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[940,640],"credentials":{"httpHeaderAuth":{"id":"v3jyXD8GBdPiYtRg","name":"Header Auth account"}}},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 2\nWHERE Notice_ID = {{ $input.item.json.OwnedNid }};\n\nDECLARE @OutputMessage NVARCHAR(255) = 'Not Ready';\n\n-- Check if all Sign_Off_Status values for matching ownedSnid are '2', then update Status\nIF NOT EXISTS (\n  SELECT 1 FROM Site_Notice_Items\n  WHERE Site_Notice_ID = {{ $input.item.json.OwnedSnid }} AND Sign_Off_Status <> 2\n)\nBEGIN\n  UPDATE Site_Notices\n  SET Status = 2\n  WHERE SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\n  -- Set the desired output message\n  SET @OutputMessage = 'Ready for Inspection';\nEND\n\n-- Return the output message along with the additional columns from People_List, Projects, and Site_Notices\nSELECT \n    @OutputMessage AS progress,\n    PL.EmailAddress,\n    PL.First_Name,\n    PL.Last_Name,\n    P.Project_Name,\n    P.Project_ID,\n    SNI.List_ID,\n    FORMAT(SN.Created, 'dd/MM/yyyy') AS CreatedDate\nFROM Site_Notices AS SN\nJOIN People_List AS PL ON SN.Created_PersonID = PL.Person_ID\nJOIN Projects AS P ON SN.Project_ID = P.Project_ID\nJOIN Site_Notice_Items AS SNI ON SN.SiteNoticeID = SNI.Site_Notice_ID AND SNI.Notice_ID = {{ $input.item.json.OwnedNid }}\nWHERE SN.SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\nCOMMIT TRAN;\n"},"id":"bcd45e3b-e172-48fc-82f1-a3837fc02105","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1140,640],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"httpMethod":"POST","path":"pow","options":{}},"id":"76e9dbe2-dd9f-43be-a063-203eb1c0a517","name":"Contractor Feedback","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[540,640],"webhookId":"fb9b70be-86ac-4373-9b60-083a98b0527c"},{"parameters":{"subject":"=Site Notice {{ $('HTTP Request').item.json[\"OwnedSnid\"] }}: Ready For Inspection","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Corrective Action Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"First_Name\"] }} {{ $json[\"Last_Name\"] }},</p>\n    <p>Please be advised that corrective action has been received for all observations in the site notice for {{ $json[\"Project_Name\"] }} that was created on {{ $json[\"CreatedDate\"] }}. You can proceed to review the feedback for this health risk assessment.</p>\n    <p>To view the site notice, click on this <a href=\"https://cairnmead.org/site-notice?snid={{ $('HTTP Request').item.json[\"OwnedSnid\"] }}&pid={{ $json[\"Project_ID\"] }}&nid={{ $('HTTP Request').item.json[\"OwnedNid\"] }}\">link</a>.</p>\n    <p>Best Regards,<br>\n    The Cairnmead Team</p>\n</body>\n</html>\n","toRecipients":"={{ $json.EmailAddress }}","additionalFields":{"from":"={{ $json.EmailAddress }}"}},"id":"d1fb5fff-dac0-49b1-9828-fd34d834a6a5","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[800,360],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.progress }}","value2":"Ready for Inspection"}]}},"id":"cad075a2-e2a5-4322-9541-c8488e20df07","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,640]},{"parameters":{"toRecipients":"={{ $json.EmailAddress }}","subject":"=Site Notice {{ $('HTTP Request').item.json[\"OwnedSnid\"] }}: Ready For Inspection","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Corrective Action Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"First_Name\"] }} {{ $json[\"Last_Name\"] }},</p>\n    <p>Please be advised that corrective action has been received for all observations in the site notice for {{ $json[\"Project_Name\"] }} that was created on {{ $json[\"CreatedDate\"] }}. You can proceed to review the feedback for this health risk assessment.</p>\n    <p>To view the site notice, click on this <a href=\"https://cairnmead.org/site-notice?snid={{ $('HTTP Request').item.json[\"OwnedSnid\"] }}&pid={{ $json[\"Project_ID\"] }}&nid={{ $('HTTP Request').item.json[\"OwnedNid\"] }}\">link</a>.</p>\n    <p>Best Regards,<br>\n    The Cairnmead Team</p>\n</body>\n</html>\n","additionalFields":{"from":"={{ $json.EmailAddress }}","bodyContentType":"html"}},"id":"23bee97e-d967-427b-9904-47adcff0a72a","name":"Microsoft Outlook1","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1580,520],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}}],"connections":{"Azure Blob Storage":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Contractor Feedback":{"main":[[{"node":"Azure Blob Storage","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"101ea611-f8ed-4239-a24d-4bc43ce11a7e","triggerCount":1,"tags":[]}