Get-Contractor-Feedback.json
{"createdAt":"2023-12-06T00:25:54.618Z","updatedAt":"2023-12-06T00:36:49.000Z","id":"ZSn2fUqtdV5ohGtD","name":"Get Contractor Feedback","active":true,"nodes":[{"parameters":{"resource":"blob","operation":"upload","container":"proof-of-work","blobName":"={{ $json[\"headers\"][\"x-arr-log-id\"] }} - {{ $binary.ProofOfWork.fileName }}","binaryPropertyName":"=ProofOfWork"},"id":"233979e0-b0bd-45d8-aa69-f15e997b5104","name":"Azure Blob Storage","type":"n8n-nodes-azure-blob-storage.azureBlobStorage","typeVersion":1,"position":[-420,440],"credentials":{"azureStorageApi":{"id":"4zvae1swVIAD48E1","name":"Cairnmead Azure Storage"}}},{"parameters":{"method":"POST","url":"https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ContractorFeedback\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"ContractorFeedback\"] }}\",\n  \"ProofOfWork\": \"https://cairnmeadlivestorage.blob.core.windows.net/proof-of-work/{{ $('Contractor Feedback').item.json[\"headers\"][\"x-arr-log-id\"] }} - {{ $('Contractor Feedback').item.binary.ProofOfWork.fileName }}\",\n  \"ContractorEmail\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"ContractorEmail\"] }}\",\n  \"OwnedSnid\": {{ $('Contractor Feedback').item.json[\"body\"][\"OwnedSnid\"] }},\n  \"OwnedNid\": {{ $('Contractor Feedback').item.json[\"body\"][\"OwnedNid\"] }},\n  \"NidStatus\": {{ $('Contractor Feedback').item.json[\"body\"][\"NidStatus\"] }},\n  \"ContractorName\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"contractorName\"] }}\",\n  \"ConsultantEmail\": \"null\",\n  \"ConsultantName\": \"null\",\n  \"RejectReason\": \"null\"\n}","options":{}},"id":"216ec8ad-020c-4978-a192-8bc85b44aac7","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-200,440],"credentials":{"httpHeaderAuth":{"id":"0gwesbhjO8NP1c34","name":"Cairnmead NocoDB"}}},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 2\nWHERE Notice_ID = {{ $input.item.json.OwnedNid }};\n\nDECLARE @OutputMessage NVARCHAR(255) = 'Not Ready';\n\n-- Check if all Sign_Off_Status values for matching ownedSnid are '2', then update Status\nIF NOT EXISTS (\n  SELECT 1 FROM Site_Notice_Items\n  WHERE Site_Notice_ID = {{ $input.item.json.OwnedSnid }} AND Sign_Off_Status <> 2\n)\nBEGIN\n  UPDATE Site_Notices\n  SET Status = 2\n  WHERE SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\n  -- Set the desired output message\n  SET @OutputMessage = 'Ready for Inspection';\nEND\n\n-- Return the output message along with the additional columns from People_List, Projects, and Site_Notices\nSELECT \n    @OutputMessage AS progress,\n    PL.EmailAddress,\n    PL.First_Name,\n    PL.Last_Name,\n    P.Project_Name,\n    P.Project_ID,\n    SNI.List_ID,\n    FORMAT(SN.Created, 'dd/MM/yyyy') AS CreatedDate\nFROM Site_Notices AS SN\nJOIN People_List AS PL ON SN.Created_PersonID = PL.Person_ID\nJOIN Projects AS P ON SN.Project_ID = P.Project_ID\nJOIN Site_Notice_Items AS SNI ON SN.SiteNoticeID = SNI.Site_Notice_ID AND SNI.Notice_ID = {{ $input.item.json.OwnedNid }}\nWHERE SN.SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\nCOMMIT TRAN;\n"},"id":"fb8b7a6c-0f3d-4ce5-9c30-d8e6c43bbbc5","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[0,440],"credentials":{"microsoftSql":{"id":"GghuWeuxy89GXreX","name":"Cairnmead Prod MSSQL"}}},{"parameters":{"httpMethod":"POST","path":"pow","options":{}},"id":"221dcb6d-b2d0-4a33-b086-78bc5e5f3eda","name":"Contractor Feedback","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-600,440],"webhookId":"fb9b70be-86ac-4373-9b60-083a98b0527c"},{"parameters":{"subject":"=Site Notice {{ $('HTTP Request').item.json[\"OwnedSnid\"] }}: Ready For Inspection","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Corrective Action Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"First_Name\"] }} {{ $json[\"Last_Name\"] }},</p>\n    <p>Please be advised that corrective action has been received for all observations in the site notice for {{ $json[\"Project_Name\"] }} that was created on {{ $json[\"CreatedDate\"] }}. You can proceed to review the feedback for this health risk assessment.</p>\n    <p>To view the site notice, click on this <a href=\"https://cairnmead.org/site-notice?snid={{ $('HTTP Request').item.json[\"OwnedSnid\"] }}&pid={{ $json[\"Project_ID\"] }}&nid={{ $('HTTP Request').item.json[\"OwnedNid\"] }}\">link</a>.</p>\n    <p>Best Regards,<br>\n    The Cairnmead Team</p>\n</body>\n</html>\n","toRecipients":"={{ $json.EmailAddress }}","additionalFields":{"from":"={{ $json.EmailAddress }}"}},"id":"ed6bdb9a-5852-4390-984b-a4042dc48568","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[440,360],"credentials":{"microsoftOutlookOAuth2Api":{"id":"W7jt08IYAXk0cxlN","name":"hyperboliq@cairnmead.co.za Emails"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.progress }}","value2":"Ready for Inspection"}]}},"id":"3f48da07-c95c-46d5-96c1-d3a22c9efabc","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[200,440]}],"connections":{"Azure Blob Storage":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Contractor Feedback":{"main":[[{"node":"Azure Blob Storage","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d87c29a0-3421-4e77-a889-43bd0b90cb9e","triggerCount":1,"tags":[]}