Get-Contractor-Feedback.json
{"id":"BZm9gMKK4gVWlYoi","createdAt":"2023-08-08T23:03:39.087Z","updatedAt":"2023-08-15T18:56:15.000Z","name":"Get Contractor Feedback","active":true,"nodes":[{"parameters":{"resource":"blob","operation":"upload","container":"proof-of-work","blobName":"={{ $json[\"headers\"][\"x-arr-log-id\"] }} - {{ $binary.ProofOfWork.fileName }}","binaryPropertyName":"=ProofOfWork"},"id":"25c015e4-9da9-4916-8a39-adc5549c732e","name":"Azure Blob Storage","type":"n8n-nodes-azure-blob-storage.azureBlobStorage","typeVersion":1,"position":[0,500],"credentials":{"azureStorageApi":{"id":"YdWhmi0qdMP7r5Pa","name":"Azure Blob Storage account"}}},{"parameters":{"method":"POST","url":"https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ContractorFeedback\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"ContractorFeedback\"] }}\",\n  \"ProofOfWork\": \"https://cairnmeadlivestorage.blob.core.windows.net/proof-of-work/{{ $('Contractor Feedback').item.json[\"headers\"][\"x-arr-log-id\"] }} - {{ $('Contractor Feedback').item.binary.ProofOfWork.fileName }}\",\n  \"ContractorEmail\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"ContractorEmail\"] }}\",\n  \"OwnedSnid\": {{ $('Contractor Feedback').item.json[\"body\"][\"OwnedSnid\"] }},\n  \"OwnedNid\": {{ $('Contractor Feedback').item.json[\"body\"][\"OwnedNid\"] }},\n  \"NidStatus\": {{ $('Contractor Feedback').item.json[\"body\"][\"NidStatus\"] }},\n  \"ContractorName\": \"{{ $('Contractor Feedback').item.json[\"body\"][\"contractorName\"] }}\",\n  \"ConsultantEmail\": \"null\",\n  \"ConsultantName\": \"null\",\n  \"RejectReason\": \"null\"\n}","options":{}},"id":"0b47433a-3ed0-4dd0-9b96-df0822baa07d","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[220,500],"credentials":{"httpHeaderAuth":{"id":"QxRb4En2ayHMZzx4","name":"Cairn NocoDB"}}},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 2\nWHERE Notice_ID = {{ $input.item.json.OwnedNid }};\n\nDECLARE @OutputMessage NVARCHAR(255) = 'Not Ready';\n\n-- Check if all Sign_Off_Status values for matching ownedSnid are '2', then update Status\nIF NOT EXISTS (\n  SELECT 1 FROM Site_Notice_Items\n  WHERE Site_Notice_ID = {{ $input.item.json.OwnedSnid }} AND Sign_Off_Status <> 2\n)\nBEGIN\n  UPDATE Site_Notices\n  SET Status = 2\n  WHERE SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\n  -- Set the desired output message\n  SET @OutputMessage = 'Ready for Inspection';\nEND\n\n-- Return the output message along with the additional columns from People_List\nSELECT \n    @OutputMessage AS progress,\n    PL.EmailAddress,\n    PL.First_Name,\n    PL.Last_Name\nFROM Site_Notices AS SN\nJOIN People_List AS PL ON SN.Created_PersonID = PL.Person_ID\nWHERE SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\nCOMMIT TRAN;\n"},"id":"376da631-1d8e-4b4c-8d27-1cf81ae573bc","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[420,500],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}},{"parameters":{"httpMethod":"POST","path":"pow","options":{}},"id":"8cf0e99c-512e-4e91-9c1a-568a192a4fa9","name":"Contractor Feedback","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-180,500],"webhookId":"fb9b70be-86ac-4373-9b60-083a98b0527c"},{"parameters":{"subject":"=Site Notice {{ $('HTTP Request').item.json[\"OwnedSnid\"] }}: Ready For Inspection","bodyContent":"=Dear {{ $json[\"First_Name\"] }} {{ $json[\"Last_Name\"] }},\nPlease be advised that corrective action has been received for all observations in the site notice for [Project name] that was created on [Date]. You can proceed to review the feedback for this health risk assessment. \nTo view the site notice, click on this link [Site Notice id]\nBest Regards,\nThe Cairnmead Team\n","toRecipients":"={{ $json.EmailAddress }}","additionalFields":{}},"id":"394e55c5-085b-4efb-b835-008de3d7446e","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[860,420],"credentials":{"microsoftOutlookOAuth2Api":{"id":"NJJeBueG4FfX6Tf4","name":"Cairnmead Outlook"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.progress }}","value2":"Ready for Inspection"}]}},"id":"49cbf462-316f-4f65-bae4-2b10ff0075c0","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[620,500]}],"connections":{"Azure Blob Storage":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Contractor Feedback":{"main":[[{"node":"Azure Blob Storage","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"3b0d2cfd-7cb2-4735-a97d-eb918bfe92b8","triggerCount":1,"tags":[]}