NID-Feedback-Rejected.json
{"createdAt":"2023-12-06T00:37:04.364Z","updatedAt":"2023-12-06T00:37:28.000Z","id":"TH9HBqbp63fyCyKD","name":"NID Feedback Rejected","active":true,"nodes":[{"parameters":{"subject":"=Site Notice {{ $('Reject NID').item.json[\"OwnedSnid\"] }}: Further Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"Issued_To\"] }},</p>\n    <p>Some of the corrective action you submitted for {{ $json[\"Project_Name\"] }} does still not meet the required health &amp; safety standards. Please revisit the report issued and provide the correct close out of the items raised.</p>\n    <p>The reason why this notice item has been rejected is due to: {{ $('Reject NID').item.json[\"RejectReason\"] }}</p>\n    <p>To view the outstanding notice item that requires feedback, click on this link:<br>\n    <a href=\"https://cairnmead.org/site-notice?snid={{ $('Reject NID').item.json['OwnedSnid'] }}&amp;nid={{ $('Reject NID').item.json['OwnedNid'] }}&amp;pid={{ $json['Project_ID'] }}&amp;list=3{{ $json['List_ID'] }}\">Notice Item: {{ $('Reject NID').item.json[\"OwnedNid\"] }}</a></p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.Issue_To_Email }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $('Reject NID').item.json[\"ContractorEmail\"] }}","from":"={{ $('Reject NID').item.json.ConsultantEmail }}","saveToSentItems":false}},"id":"02051a53-e16f-4ea9-ba4e-65969bcdf974","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[1280,260],"credentials":{"microsoftOutlookOAuth2Api":{"id":"W7jt08IYAXk0cxlN","name":"hyperboliq@cairnmead.co.za Emails"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    SN.SiteNoticeID,\n    SN.Issued_To,\n    SN.Issue_To_Email,\n    SN.Created,\n    SN.CreatedBy,\n    SN.Open_Days,\n    SN.Status,\n    SN.Project_ID,\n    P.Project_Name, -- Added Project_Name from the Projects table\n    SNI.Notice_ID,\n    SNI.Site_Notice_ID,\n    SNI.Sign_Off_Status,\n    SNI.List_ID\nFROM \n    Site_Notices AS SN\nJOIN \n    Site_Notice_Items AS SNI\nON \n    SN.SiteNoticeID = SNI.Site_Notice_ID\nJOIN\n    Projects AS P -- Joining the Projects table\nON\n    SN.Project_ID = P.Project_ID -- Matching the Project_ID in both tables\nWHERE\n    SNI.Sign_Off_Status = 4;"},"id":"8e03174c-55ef-463a-86f5-b34cc2ba6eed","name":"Get Email Details","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1060,260],"credentials":{"microsoftSql":{"id":"GghuWeuxy89GXreX","name":"Cairnmead Prod MSSQL"}}},{"parameters":{"method":"PATCH","url":"=https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids/{{ $json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"consultantEmail\": \"{{ $json[\"body\"][\"consultantEmail\"] }}\",\n\t\"consultantName\": \"{{ $json[\"body\"][\"consultantName\"] }}\",\n\t\"rejectReason\": \"{{ $json[\"body\"][\"rejectReason\"] }}\",\n\t\"nidStatus\": {{ $json[\"body\"][\"nidStatus\"] }}\n}","options":{}},"id":"f9f71ca7-fecf-4482-85fc-74c4f6e14b88","name":"Reject NID","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[620,260],"credentials":{"httpHeaderAuth":{"id":"0gwesbhjO8NP1c34","name":"Cairnmead NocoDB"}}},{"parameters":{"httpMethod":"PATCH","path":"nidrejected","options":{}},"id":"513b3c9e-e065-4acb-8b8f-b612ee2332a7","name":"Webhook Reject","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[420,260],"webhookId":"adc78e39-a4ef-40b8-9f0c-ae25c6600ccc"},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 4\nWHERE Notice_ID = {{ $json[\"OwnedNid\"] }};\n\nCOMMIT TRAN;\n"},"id":"c65ec1fd-f226-4519-bbe2-ca325f5f9a2a","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[860,260],"credentials":{"microsoftSql":{"id":"GghuWeuxy89GXreX","name":"Cairnmead Prod MSSQL"}}}],"connections":{"Webhook Reject":{"main":[[{"node":"Reject NID","type":"main","index":0}]]},"Reject NID":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Get Email Details","type":"main","index":0}]]},"Get Email Details":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"eb518faa-0b88-422f-acc2-34e7ee8e28d5","triggerCount":1,"tags":[]}