NID-Feedback-Approved.json
{"id":"4N9m6PNnujgalZcg","createdAt":"2023-08-09T14:31:46.550Z","updatedAt":"2023-08-09T14:39:40.000Z","name":"NID Feedback Approved","active":true,"nodes":[{"parameters":{"subject":"=Site Notice {{ $('Approve NID').item.json[\"OwnedSnid\"] }}: Further Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"Issued_To\"] }},</p>\n    <p>Some of the corrective action you submitted for {{ $json[\"Project_Name\"] }} does still not meet the required health &amp; safety standards. Please revisit the report issued and provide the correct close out of the items raised.</p>\n    <p>The reason why this notice item has been rejected is due to: {{ $('Approve NID').item.json[\"RejectReason\"] }}</p>\n    <p>To view the outstanding notice item that requires feedback, click on this link:<br>\n    <a href=\"https://cairnmead.org/site-notice?snid={{ $('Approve NID').item.json['OwnedSnid'] }}&amp;nid={{ $('Approve NID').item.json['OwnedNid'] }}&amp;pid={{ $json['Project_ID'] }}&amp;list=3{{ $json['List_ID'] }}\">Notice Item: {{ $('Approve NID').item.json[\"OwnedNid\"] }}</a></p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.Issue_To_Email }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $('Approve NID').item.json[\"ContractorEmail\"] }}","from":"={{ $('Approve NID').item.json.ConsultantEmail }}","saveToSentItems":false}},"id":"abfcb3f9-7a62-49a3-81a4-6e267861d7cf","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[-1120,460],"credentials":{"microsoftOutlookOAuth2Api":{"id":"NJJeBueG4FfX6Tf4","name":"Cairnmead Outlook"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    SN.SiteNoticeID,\n    SN.Issued_To,\n    SN.Issue_To_Email,\n    SN.Created,\n    SN.CreatedBy,\n    SN.Open_Days,\n    SN.Status,\n    SN.Project_ID,\n    P.Project_Name, -- Added Project_Name from the Projects table\n    SNI.Notice_ID,\n    SNI.Site_Notice_ID,\n    SNI.Sign_Off_Status,\n    SNI.List_ID\nFROM \n    Site_Notices AS SN\nJOIN \n    Site_Notice_Items AS SNI\nON \n    SN.SiteNoticeID = SNI.Site_Notice_ID\nJOIN\n    Projects AS P -- Joining the Projects table\nON\n    SN.Project_ID = P.Project_ID -- Matching the Project_ID in both tables\nWHERE\n    SNI.Sign_Off_Status = 4;"},"id":"02a6286c-a4bd-4b5b-acdd-b5d355c4bfed","name":"Get Email Details","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1280,460],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}},{"parameters":{"httpMethod":"PATCH","path":"nidapproved","options":{}},"id":"776a8798-663d-4c6a-861a-23f0d2250734","name":"Webhook Reject","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1820,620],"webhookId":"c853fb2d-7584-4cce-8516-230530587c1d"},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 3\nWHERE Notice_ID = {{ $json[\"OwnedNid\"] }};\n\n-- Check if all Sign_Off_Status values for matching ownedSnid are '3', then update Status\nIF NOT EXISTS (\n  SELECT 1 FROM Site_Notice_Items\n  WHERE Site_Notice_ID = {{ $json[\"OwnedSnid\"] }} AND Sign_Off_Status <> 3\n)\nUPDATE Site_Notices\nSET Status = 3\nWHERE SiteNoticeID = {{ $json[\"OwnedSnid\"] }};\n\nCOMMIT TRAN;\n"},"id":"80bc1096-f4ec-41db-b6e7-15aa6e34755e","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1380,620],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}},{"parameters":{"method":"PATCH","url":"=https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids/{{ $json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"consultantEmail\": \"{{ $json[\"body\"][\"consultantEmail\"] }}\",\n\t\"consultantName\": \"{{ $json[\"body\"][\"consultantName\"] }}\",\n\t\"nidStatus\": {{ $json[\"body\"][\"nidStatus\"] }}\n}","options":{}},"id":"4afa1ba9-4c02-4b64-9f07-241f89183811","name":"Approve NID","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1620,620],"credentials":{"httpHeaderAuth":{"id":"QxRb4En2ayHMZzx4","name":"Cairn NocoDB"}}}],"connections":{"Webhook Reject":{"main":[[{"node":"Approve NID","type":"main","index":0}]]},"Microsoft SQL":{"main":[[]]},"Get Email Details":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Approve NID":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"c78d6528-8ec5-4209-b586-e0d13ac9183e","triggerCount":1,"tags":[]}