NID-Feedback-Rejected.json
{"createdAt":"2023-12-13T09:33:51.384Z","updatedAt":"2023-12-13T09:34:16.000Z","id":"FtX7hpQiCcxyJxWN","name":"NID Feedback Rejected","active":true,"nodes":[{"parameters":{"subject":"=Site Notice {{ $('Reject NID').item.json[\"OwnedSnid\"] }}: Further Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"Issued_To\"] }},</p>\n    <p>Some of the corrective action you submitted for {{ $json[\"Project_Name\"] }} does still not meet the required health &amp; safety standards. Please revisit the report issued and provide the correct close out of the items raised.</p>\n    <p>The reason why this notice item has been rejected is due to: {{ $('Reject NID').item.json[\"RejectReason\"] }}</p>\n    <p>To view the outstanding notice item that requires feedback, click on this link:<br>\n    <a href=\"https://cairnmead.org/site-notice?snid={{ $('Reject NID').item.json['OwnedSnid'] }}&amp;nid={{ $('Reject NID').item.json['OwnedNid'] }}&amp;pid={{ $json['Project_ID'] }}&amp;list=3{{ $json['List_ID'] }}\">Notice Item: {{ $('Reject NID').item.json[\"OwnedNid\"] }}</a></p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.Issue_To_Email }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $('Reject NID').item.json[\"ContractorEmail\"] }}","from":"={{ $('Reject NID').item.json.ConsultantEmail }}","saveToSentItems":false}},"id":"1d3eef7b-2106-4a8b-ad0f-e9588e9cd756","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[700,440],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    SN.SiteNoticeID,\n    SN.Issued_To,\n    SN.Issue_To_Email,\n    SN.Created,\n    SN.CreatedBy,\n    SN.Open_Days,\n    SN.Status,\n    SN.Project_ID,\n    P.Project_Name, -- Added Project_Name from the Projects table\n    SNI.Notice_ID,\n    SNI.Site_Notice_ID,\n    SNI.Sign_Off_Status,\n    SNI.List_ID\nFROM \n    Site_Notices AS SN\nJOIN \n    Site_Notice_Items AS SNI\nON \n    SN.SiteNoticeID = SNI.Site_Notice_ID\nJOIN\n    Projects AS P -- Joining the Projects table\nON\n    SN.Project_ID = P.Project_ID -- Matching the Project_ID in both tables\nWHERE\n    SNI.Sign_Off_Status = 4;"},"id":"483a9c4e-3a3c-4342-be67-f946b33bf8c6","name":"Get Email Details","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[840,700],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"method":"PATCH","url":"=https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids/{{ $json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"consultantEmail\": \"{{ $json[\"body\"][\"consultantEmail\"] }}\",\n\t\"consultantName\": \"{{ $json[\"body\"][\"consultantName\"] }}\",\n\t\"rejectReason\": \"{{ $json[\"body\"][\"rejectReason\"] }}\",\n\t\"nidStatus\": {{ $json[\"body\"][\"nidStatus\"] }}\n}","options":{}},"id":"41e3172d-420b-43e0-90d8-5369e33c5526","name":"Reject NID","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,700],"credentials":{"httpHeaderAuth":{"id":"v3jyXD8GBdPiYtRg","name":"Header Auth account"}}},{"parameters":{"httpMethod":"PATCH","path":"nidrejected","options":{}},"id":"ad83f164-3f2f-4adb-92ca-822e73af1857","name":"Webhook Reject","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,700],"webhookId":"adc78e39-a4ef-40b8-9f0c-ae25c6600ccc"},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 4\nWHERE Notice_ID = {{ $json[\"OwnedNid\"] }};\n\nCOMMIT TRAN;\n"},"id":"b1d68491-3648-4dc4-adf5-3fd90540bb5b","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[640,700],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.Site_Notice_ID }}","operation":"contains","value2":"={{ $('Reject NID').item.json[\"OwnedSnid\"] }}"}]}},"id":"90b81c0b-4c01-4c0b-8968-5bb87313f9ed","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1060,700]},{"parameters":{"toRecipients":"={{ $json.Issue_To_Email }}","subject":"=Site Notice {{ $('Reject NID').item.json[\"OwnedSnid\"] }}: Further Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"Issued_To\"] }},</p>\n    <p>Some of the corrective action you submitted for {{ $json[\"Project_Name\"] }} does still not meet the required health &amp; safety standards. Please revisit the report issued and provide the correct close out of the items raised.</p>\n    <p>The reason why this notice item has been rejected is due to: {{ $('Reject NID').item.json[\"RejectReason\"] }}</p>\n    <p>To view the outstanding notice item that requires feedback, click on this link:<br>\n    <a href=\"https://cairnmead.org/site-notice?snid={{ $('Reject NID').item.json['OwnedSnid'] }}&amp;nid={{ $('Reject NID').item.json['OwnedNid'] }}&amp;pid={{ $json['Project_ID'] }}&amp;list=3{{ $json['List_ID'] }}\">Notice Item: {{ $('Reject NID').item.json[\"OwnedNid\"] }}</a></p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","additionalFields":{"ccRecipients":"={{ $('Reject NID').item.json[\"ContractorEmail\"] }}","from":"={{ $('Reject NID').item.json.ConsultantEmail }}","bodyContentType":"html","saveToSentItems":true}},"id":"796849f8-7167-4c2f-baa8-3d2f19a8816f","name":"Microsoft Outlook1","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1300,680],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}}],"connections":{"Webhook Reject":{"main":[[{"node":"Reject NID","type":"main","index":0}]]},"Reject NID":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Get Email Details","type":"main","index":0}]]},"Get Email Details":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6d9da168-61c2-497c-a299-7ef13ba2b902","triggerCount":1,"tags":[]}