NID-Feedback-Approved.json
{"createdAt":"2023-12-13T09:33:17.618Z","updatedAt":"2023-12-13T09:33:35.000Z","id":"ZMwwaGyLxkSsXFNa","name":"NID Feedback Approved","active":true,"nodes":[{"parameters":{"subject":"=Site Notice {{ $('Approve NID').item.json[\"OwnedSnid\"] }}: Further Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"Issued_To\"] }},</p>\n    <p>Some of the corrective action you submitted for {{ $json[\"Project_Name\"] }} does still not meet the required health &amp; safety standards. Please revisit the report issued and provide the correct close out of the items raised.</p>\n    <p>The reason why this notice item has been rejected is due to: {{ $('Approve NID').item.json[\"RejectReason\"] }}</p>\n    <p>To view the outstanding notice item that requires feedback, click on this link:<br>\n    <a href=\"https://cairnmead.org/site-notice?snid={{ $('Approve NID').item.json['OwnedSnid'] }}&amp;nid={{ $('Approve NID').item.json['OwnedNid'] }}&amp;pid={{ $json['Project_ID'] }}&amp;list=3{{ $json['List_ID'] }}\">Notice Item: {{ $('Approve NID').item.json[\"OwnedNid\"] }}</a></p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.Issue_To_Email }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $('Approve NID').item.json[\"ContractorEmail\"] }}","from":"={{ $('Approve NID').item.json.ConsultantEmail }}","saveToSentItems":false}},"id":"1cb5eb1b-8956-4af2-b96d-af6e061bd424","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[500,440],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    SN.SiteNoticeID,\n    SN.Issued_To,\n    SN.Issue_To_Email,\n    SN.Created,\n    SN.CreatedBy,\n    SN.Open_Days,\n    SN.Status,\n    SN.Project_ID,\n    P.Project_Name, -- Added Project_Name from the Projects table\n    SNI.Notice_ID,\n    SNI.Site_Notice_ID,\n    SNI.Sign_Off_Status,\n    SNI.List_ID\nFROM \n    Site_Notices AS SN\nJOIN \n    Site_Notice_Items AS SNI\nON \n    SN.SiteNoticeID = SNI.Site_Notice_ID\nJOIN\n    Projects AS P -- Joining the Projects table\nON\n    SN.Project_ID = P.Project_ID -- Matching the Project_ID in both tables\nWHERE\n    SNI.Sign_Off_Status = 4;"},"id":"1c5653b8-973e-4424-9727-7931c64af282","name":"Get Email Details","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[340,440],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"httpMethod":"PATCH","path":"nidapproved","options":{}},"id":"9dd72825-0b75-403e-b170-408c60b81305","name":"Webhook Reject","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,600],"webhookId":"c853fb2d-7584-4cce-8516-230530587c1d"},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 3\nWHERE Notice_ID = {{ $json[\"OwnedNid\"] }};\n\n-- Check if all Sign_Off_Status values for matching ownedSnid are '3', then update Status\nIF NOT EXISTS (\n  SELECT 1 FROM Site_Notice_Items\n  WHERE Site_Notice_ID = {{ $json[\"OwnedSnid\"] }} AND Sign_Off_Status <> 3\n)\nUPDATE Site_Notices\nSET Status = 3\nWHERE SiteNoticeID = {{ $json[\"OwnedSnid\"] }};\n\nCOMMIT TRAN;\n"},"id":"675a756b-2166-4ef5-9869-eb26ff8ab189","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[240,600],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"method":"PATCH","url":"=https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids/{{ $json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"consultantEmail\": \"{{ $json[\"body\"][\"consultantEmail\"] }}\",\n\t\"consultantName\": \"{{ $json[\"body\"][\"consultantName\"] }}\",\n\t\"nidStatus\": {{ $json[\"body\"][\"nidStatus\"] }}\n}","options":{}},"id":"7ad23265-c520-444c-be16-db22b1283be4","name":"Approve NID","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,600],"credentials":{"httpHeaderAuth":{"id":"v3jyXD8GBdPiYtRg","name":"Header Auth account"}}}],"connections":{"Webhook Reject":{"main":[[{"node":"Approve NID","type":"main","index":0}]]},"Get Email Details":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Approve NID":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c627b90c-2a00-4137-8afc-dde1e6d3f77f","triggerCount":1,"tags":[]}