nid-feedback-rejected-a0bAKdN6rImYDZUK.json
{"id":"a0bAKdN6rImYDZUK","createdAt":"2023-08-09T00:05:02.036Z","updatedAt":"2023-08-09T14:28:54.000Z","name":"NID Feedback Rejected","active":true,"nodes":[{"parameters":{"subject":"=Site Notice {{ $('Reject NID').item.json[\"OwnedSnid\"] }}: Further Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"Issued_To\"] }},</p>\n    <p>Some of the corrective action you submitted for {{ $json[\"Project_Name\"] }} does still not meet the required health &amp; safety standards. Please revisit the report issued and provide the correct close out of the items raised.</p>\n    <p>The reason why this notice item has been rejected is due to: {{ $('Reject NID').item.json[\"RejectReason\"] }}</p>\n    <p>To view the outstanding notice item that requires feedback, click on this link:<br>\n    <a href=\"https://cairnmead.org/site-notice?snid={{ $('Reject NID').item.json['OwnedSnid'] }}&amp;nid={{ $('Reject NID').item.json['OwnedNid'] }}&amp;pid={{ $json['Project_ID'] }}&amp;list=3{{ $json['List_ID'] }}\">Notice Item: {{ $('Reject NID').item.json[\"OwnedNid\"] }}</a></p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.Issue_To_Email }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $('Reject NID').item.json[\"ContractorEmail\"] }}","from":"={{ $('Reject NID').item.json.ConsultantEmail }}","saveToSentItems":false}},"id":"a66cbf8d-279d-4201-a80f-6f206caa23c4","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[-960,620],"credentials":{"microsoftOutlookOAuth2Api":{"id":"NJJeBueG4FfX6Tf4","name":"Cairnmead Outlook"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    SN.SiteNoticeID,\n    SN.Issued_To,\n    SN.Issue_To_Email,\n    SN.Created,\n    SN.CreatedBy,\n    SN.Open_Days,\n    SN.Status,\n    SN.Project_ID,\n    P.Project_Name, -- Added Project_Name from the Projects table\n    SNI.Notice_ID,\n    SNI.Site_Notice_ID,\n    SNI.Sign_Off_Status,\n    SNI.List_ID\nFROM \n    Site_Notices AS SN\nJOIN \n    Site_Notice_Items AS SNI\nON \n    SN.SiteNoticeID = SNI.Site_Notice_ID\nJOIN\n    Projects AS P -- Joining the Projects table\nON\n    SN.Project_ID = P.Project_ID -- Matching the Project_ID in both tables\nWHERE\n    SNI.Sign_Off_Status = 4;"},"id":"caf34916-f8e9-4ea3-b4bc-619b30776a3a","name":"Get Email Details","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1180,620],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}},{"parameters":{"method":"PATCH","url":"=https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Prod/ReviewedNids/{{ $json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"consultantEmail\": \"{{ $json[\"body\"][\"consultantEmail\"] }}\",\n\t\"consultantName\": \"{{ $json[\"body\"][\"consultantName\"] }}\",\n\t\"rejectReason\": \"{{ $json[\"body\"][\"rejectReason\"] }}\",\n\t\"nidStatus\": {{ $json[\"body\"][\"nidStatus\"] }}\n}","options":{}},"id":"3da502e6-bed1-46c6-a98d-18c3f8600b5e","name":"Reject NID","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1620,620],"credentials":{"httpHeaderAuth":{"id":"QxRb4En2ayHMZzx4","name":"Cairn NocoDB"}}},{"parameters":{"httpMethod":"PATCH","path":"nidrejected","options":{}},"id":"338d651f-9197-406e-b838-72887495a2c0","name":"Webhook Reject","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1820,620],"webhookId":"adc78e39-a4ef-40b8-9f0c-ae25c6600ccc"},{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 4\nWHERE Notice_ID = {{ $json[\"OwnedNid\"] }};\n\nCOMMIT TRAN;\n"},"id":"0972e8d5-95e8-4391-9439-f589f448a8ae","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1380,620],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}}],"connections":{"Webhook Reject":{"main":[[{"node":"Reject NID","type":"main","index":0}]]},"Reject NID":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Get Email Details","type":"main","index":0}]]},"Get Email Details":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"da2f75f0-22b3-467d-b521-c6b8fd7b2469","triggerCount":1,"tags":[]}