Send-Mails-Temp.json
{"id":"nv3PLSYrJoAF1qie","createdAt":"2023-08-16T05:18:20.200Z","updatedAt":"2023-08-16T05:25:33.000Z","name":"Send Mails Temp","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"BEGIN TRAN;\n\n-- Update the Sign_Off_Status for all records that match the ownedNid value\nUPDATE Site_Notice_Items\nSET Sign_Off_Status = 2\nWHERE Notice_ID = {{ $input.item.json.OwnedNid }};\n\nDECLARE @OutputMessage NVARCHAR(255) = 'Not Ready';\n\n-- Check if all Sign_Off_Status values for matching ownedSnid are '2', then update Status\nIF NOT EXISTS (\n  SELECT 1 FROM Site_Notice_Items\n  WHERE Site_Notice_ID = {{ $input.item.json.OwnedSnid }} AND Sign_Off_Status <> 2\n)\nBEGIN\n  UPDATE Site_Notices\n  SET Status = 2\n  WHERE SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\n  -- Set the desired output message\n  SET @OutputMessage = 'Ready for Inspection';\nEND\n\n-- Return the output message along with the additional columns from People_List, Projects, and Site_Notices\nSELECT \n    @OutputMessage AS progress,\n    PL.EmailAddress,\n    PL.First_Name,\n    PL.Last_Name,\n    P.Project_Name,\n    P.Project_ID,\n    SNI.List_ID,\n    FORMAT(SN.Created, 'dd/MM/yyyy') AS CreatedDate\nFROM Site_Notices AS SN\nJOIN People_List AS PL ON SN.Created_PersonID = PL.Person_ID\nJOIN Projects AS P ON SN.Project_ID = P.Project_ID\nJOIN Site_Notice_Items AS SNI ON SN.SiteNoticeID = SNI.Site_Notice_ID AND SNI.Notice_ID = {{ $input.item.json.OwnedNid }}\nWHERE SN.SiteNoticeID = {{ $input.item.json.OwnedSnid }};\n\nCOMMIT TRAN;\n"},"id":"0e9af83d-e8dc-4b01-846e-c0b04c22bf6b","name":"Microsoft SQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[420,500],"credentials":{"microsoftSql":{"id":"etPCn0IwBmfLLPlf","name":"Cairnmead MSSQL"}}},{"parameters":{"subject":"=Site Notice {{ $('Set').item.json[\"OwnedSnid\"] }}: Ready For Inspection","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Corrective Action Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"First_Name\"] }} {{ $json[\"Last_Name\"] }},</p>\n    <p>Please be advised that corrective action has been received for all observations in the site notice for {{ $json[\"Project_Name\"] }} that was created on {{ $json[\"CreatedDate\"] }}. You can proceed to review the feedback for this health risk assessment.</p>\n    <p>To view the site notice, click on this <a href=\"https://cairnmead.org/site-notice?snid={{ $('Set').item.json[\"OwnedSnid\"] }}&pid={{ $json[\"Project_ID\"] }}&nid={{ $('Set').item.json[\"OwnedNid\"] }}\">link</a>.</p>\n    <p>Best Regards,<br>\n    The Cairnmead Team</p>\n</body>\n</html>\n","toRecipients":"={{ $json.EmailAddress }}","additionalFields":{"from":"={{ $json.EmailAddress }}"}},"id":"a3083ecd-3c5f-45b2-a62d-07c67bb7efe2","name":"Microsoft Outlook","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[860,420],"credentials":{"microsoftOutlookOAuth2Api":{"id":"NJJeBueG4FfX6Tf4","name":"Cairnmead Outlook"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.progress }}","value2":"Ready for Inspection"}]}},"id":"545f1203-0c4b-4882-8448-48b050e487c9","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[620,500]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"OwnedNid","value":"364008185"},{"name":"OwnedSnid","value":"4312001"}]},"options":{}},"id":"2a8e86bd-052e-4471-aebb-bd2ae833d3b8","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[40,500]},{"parameters":{},"id":"48e7ea41-4cee-43ca-b4b8-93f047fa2506","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,480]}],"connections":{"Microsoft SQL":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Set":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"9f2ddecd-b00f-4b03-85b0-59ef270b226d","triggerCount":1,"tags":[]}