Send-Email-Escalations.json
{"createdAt":"2023-12-13T09:35:38.396Z","updatedAt":"2023-12-13T20:17:52.000Z","id":"HvFm3zITiQtUn7Ke","name":"Send Email Escalations","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n    SN.SiteNoticeID,\n    SN.Issued_To,\n    SN.Issue_To_Email,\n    SN.Created,\n    SN.CreatedBy,\n    SN.Open_Days,\n    SN.Status,\n    SN.Project_ID,\n    SNI.Notice_ID,\n    SNI.Site_Notice_ID,\n    SNI.Sign_Off_Status,\n    SNI.List_ID,\n    STRING_AGG(pl1.EmailAddress, ', ') AS ccRecipients,\n    P.Project_Name,    -- To get the Project Name\n    pl2.EmailAddress AS Created_Person_Email    -- To get the Created Person's Email\nFROM \n    Site_Notices AS SN\nJOIN \n    Site_Notice_Items AS SNI\nON \n    SN.SiteNoticeID = SNI.Site_Notice_ID\nLEFT JOIN\n    escalationReceivers AS ER\nON\n    SN.SiteNoticeID = ER.ownedSnid AND ER.[3days] = 1\nLEFT JOIN\n    People_List AS pl1\nON\n    ER.ownedPerson = pl1.Person_ID\nLEFT JOIN\n    People_List AS pl2    -- Join with People_List table to get the Created Person's Email\nON\n    SN.Created_PersonID = pl2.Person_ID\nJOIN\n    Projects AS P    -- Join with Projects table to get the Project Name\nON\n    SN.Project_ID = P.Project_ID\nWHERE \n    SN.Status NOT IN (2, 3)\nAND\n    SNI.Sign_Off_Status <> 3\nGROUP BY \n    SN.SiteNoticeID,\n    SN.Issued_To,\n    SN.Issue_To_Email,\n    SN.Created,\n    SN.CreatedBy,\n    SN.Open_Days,\n    SN.Status,\n    SN.Project_ID,\n    SNI.Notice_ID,\n    SNI.Site_Notice_ID,\n    SNI.Sign_Off_Status,\n    SNI.List_ID,\n    P.Project_Name,    -- Group by the Project Name\n    pl2.EmailAddress;  -- Group by the Created Person's Email\n"},"id":"697c5c93-0b2e-45bb-851f-03695ae35a60","name":"Get Data from MSSQL","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-680,480],"credentials":{"microsoftSql":{"id":"pnk4eGN7LenljlZH","name":"Cairnmead MSSQL"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.Open_Days }}","operation":"equal","value2":3}]}},"id":"dd6a6e29-4c6e-4cc6-a99a-697c798b1455","name":"Check If 3 Days Old","type":"n8n-nodes-base.if","typeVersion":1,"position":[-480,480]},{"parameters":{"jsCode":"let grouped = {};\nlet details = {};\n\nfor (let item of items) {\n    let noticeID = item.json[\"Site_Notice_ID\"];\n    noticeID = noticeID.replace(/\\s/g, '');  // Remove all white spaces\n\n    const noticeDetail = item.json[\"Notice_ID\"];\n    const projectId = item.json[\"Project_ID\"];\n    const issuedTo = item.json[\"Issued_To\"];\n    const issueToEmail = item.json[\"Issue_To_Email\"];\n    const created = item.json[\"Created\"];\n    const createdBy = item.json[\"CreatedBy\"];\n    const openDays = item.json[\"Open_Days\"];\n    const status = item.json[\"Status\"];\n    const signOffStatus = item.json[\"Sign_Off_Status\"];\n    const listId = item.json[\"List_ID\"];\n    let ccRecipients = item.json[\"ccRecipients\"];\n    \n    // Only attempt to remove spaces if ccRecipients is not null or undefined\n    if (ccRecipients) {\n        ccRecipients = ccRecipients.replace(/\\s/g, '');\n    }\n    \n    const projectName = item.json[\"Project_Name\"];\n    const createdPersonEmail = item.json[\"Created_Person_Email\"];\n\n    if (grouped[noticeID]) {\n        grouped[noticeID].push(noticeDetail);\n    } else {\n        grouped[noticeID] = [noticeDetail];\n        details[noticeID] = {projectId, issuedTo, issueToEmail, created, createdBy, openDays, status, signOffStatus, listId, ccRecipients, projectName, createdPersonEmail};\n    }\n}\n\nreturn Object.keys(grouped).map(noticeID => {\n    const links = grouped[noticeID].map(id => \n      `<a href=\"https://cairnmead.org/site-notice?nid=${id}&snid=${noticeID}&pid=${details[noticeID].projectId}&list=${details[noticeID].listId}\">Notice Item: ${id}</a>`\n    );\n    \n    return {\n        json: {\n            \"Site_Notice_ID\": noticeID,\n            \"Notice_Links\": links.join('<br>'),\n            ...details[noticeID]\n        }\n    };\n});\n"},"id":"5e25d3fc-212a-49b5-adb7-5026500b07e7","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-280,400]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.Open_Days }}","operation":"equal","value2":5}]}},"id":"f01fd17a-6d0e-4131-a049-614d37c2940e","name":"Check If 5 Days Old","type":"n8n-nodes-base.if","typeVersion":1,"position":[-280,700]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.Open_Days }}","operation":"equal","value2":9}]}},"id":"8e0b659f-a3e9-49e1-83c6-48a41c0f79c4","name":"Check If 9 Days Old","type":"n8n-nodes-base.if","typeVersion":1,"position":[-100,900]},{"parameters":{"jsCode":"let grouped = {};\nlet details = {};\n\nfor (let item of items) {\n    let noticeID = item.json[\"Site_Notice_ID\"];\n    noticeID = noticeID.replace(/\\s/g, '');  // Remove all white spaces\n\n    const noticeDetail = item.json[\"Notice_ID\"];\n    const projectId = item.json[\"Project_ID\"];\n    const issuedTo = item.json[\"Issued_To\"];\n    const issueToEmail = item.json[\"Issue_To_Email\"];\n    const created = item.json[\"Created\"];\n    const createdBy = item.json[\"CreatedBy\"];\n    const openDays = item.json[\"Open_Days\"];\n    const status = item.json[\"Status\"];\n    const signOffStatus = item.json[\"Sign_Off_Status\"];\n    const listId = item.json[\"List_ID\"];\n    let ccRecipients = item.json[\"ccRecipients\"];\n    \n    // Only attempt to remove spaces if ccRecipients is not null or undefined\n    if (ccRecipients) {\n        ccRecipients = ccRecipients.replace(/\\s/g, '');\n    }\n    \n    const projectName = item.json[\"Project_Name\"];\n    const createdPersonEmail = item.json[\"Created_Person_Email\"];\n\n    if (grouped[noticeID]) {\n        grouped[noticeID].push(noticeDetail);\n    } else {\n        grouped[noticeID] = [noticeDetail];\n        details[noticeID] = {projectId, issuedTo, issueToEmail, created, createdBy, openDays, status, signOffStatus, listId, ccRecipients, projectName, createdPersonEmail};\n    }\n}\n\nreturn Object.keys(grouped).map(noticeID => {\n    const links = grouped[noticeID].map(id => \n      `<a href=\"https://cairnmead.org/site-notice?nid=${id}&snid=${noticeID}&pid=${details[noticeID].projectId}&list=${details[noticeID].listId}\">Notice Item: ${id}</a>`\n    );\n    \n    return {\n        json: {\n            \"Site_Notice_ID\": noticeID,\n            \"Notice_Links\": links.join('<br>'),\n            ...details[noticeID]\n        }\n    };\n});\n"},"id":"531b5601-c4e9-4247-94cb-82bf6276b61f","name":"Code3","type":"n8n-nodes-base.code","typeVersion":1,"position":[340,1260]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.Open_Days }}","operation":"largerEqual","value2":10}]}},"id":"98ecef66-bd8b-4bc6-b1a6-db975e06a5e0","name":"Check If > 10 Days Old","type":"n8n-nodes-base.if","typeVersion":1,"position":[120,1280]},{"parameters":{"jsCode":"let grouped = {};\nlet details = {};\n\nfor (let item of items) {\n    let noticeID = item.json[\"Site_Notice_ID\"];\n    noticeID = noticeID.replace(/\\s/g, '');  // Remove all white spaces\n\n    const noticeDetail = item.json[\"Notice_ID\"];\n    const projectId = item.json[\"Project_ID\"];\n    const issuedTo = item.json[\"Issued_To\"];\n    const issueToEmail = item.json[\"Issue_To_Email\"];\n    const created = item.json[\"Created\"];\n    const createdBy = item.json[\"CreatedBy\"];\n    const openDays = item.json[\"Open_Days\"];\n    const status = item.json[\"Status\"];\n    const signOffStatus = item.json[\"Sign_Off_Status\"];\n    const listId = item.json[\"List_ID\"];\n    let ccRecipients = item.json[\"ccRecipients\"];\n    \n    // Only attempt to remove spaces if ccRecipients is not null or undefined\n    if (ccRecipients) {\n        ccRecipients = ccRecipients.replace(/\\s/g, '');\n    }\n    \n    const projectName = item.json[\"Project_Name\"];\n    const createdPersonEmail = item.json[\"Created_Person_Email\"];\n\n    if (grouped[noticeID]) {\n        grouped[noticeID].push(noticeDetail);\n    } else {\n        grouped[noticeID] = [noticeDetail];\n        details[noticeID] = {projectId, issuedTo, issueToEmail, created, createdBy, openDays, status, signOffStatus, listId, ccRecipients, projectName, createdPersonEmail};\n    }\n}\n\nreturn Object.keys(grouped).map(noticeID => {\n    const links = grouped[noticeID].map(id => \n      `<a href=\"https://cairnmead.org/site-notice?nid=${id}&snid=${noticeID}&pid=${details[noticeID].projectId}&list=${details[noticeID].listId}\">Notice Item: ${id}</a>`\n    );\n    \n    return {\n        json: {\n            \"Site_Notice_ID\": noticeID,\n            \"Notice_Links\": links.join('<br>'),\n            ...details[noticeID]\n        }\n    };\n});\n"},"id":"b2a4a4be-76d2-4490-b067-b98da5046e4d","name":"Code2","type":"n8n-nodes-base.code","typeVersion":1,"position":[120,980]},{"parameters":{"jsCode":"let grouped = {};\nlet details = {};\n\nfor (let item of items) {\n    let noticeID = item.json[\"Site_Notice_ID\"];\n    noticeID = noticeID.replace(/\\s/g, '');  // Remove all white spaces\n\n    const noticeDetail = item.json[\"Notice_ID\"];\n    const projectId = item.json[\"Project_ID\"];\n    const issuedTo = item.json[\"Issued_To\"];\n    const issueToEmail = item.json[\"Issue_To_Email\"];\n    const created = item.json[\"Created\"];\n    const createdBy = item.json[\"CreatedBy\"];\n    const openDays = item.json[\"Open_Days\"];\n    const status = item.json[\"Status\"];\n    const signOffStatus = item.json[\"Sign_Off_Status\"];\n    const listId = item.json[\"List_ID\"];\n    let ccRecipients = item.json[\"ccRecipients\"];\n    \n    // Only attempt to remove spaces if ccRecipients is not null or undefined\n    if (ccRecipients) {\n        ccRecipients = ccRecipients.replace(/\\s/g, '');\n    }\n    \n    const projectName = item.json[\"Project_Name\"];\n    const createdPersonEmail = item.json[\"Created_Person_Email\"];\n\n    if (grouped[noticeID]) {\n        grouped[noticeID].push(noticeDetail);\n    } else {\n        grouped[noticeID] = [noticeDetail];\n        details[noticeID] = {projectId, issuedTo, issueToEmail, created, createdBy, openDays, status, signOffStatus, listId, ccRecipients, projectName, createdPersonEmail};\n    }\n}\n\nreturn Object.keys(grouped).map(noticeID => {\n    const links = grouped[noticeID].map(id => \n      `<a href=\"https://cairnmead.org/site-notice?nid=${id}&snid=${noticeID}&pid=${details[noticeID].projectId}&list=${details[noticeID].listId}\">Notice Item: ${id}</a>`\n    );\n    \n    return {\n        json: {\n            \"Site_Notice_ID\": noticeID,\n            \"Notice_Links\": links.join('<br>'),\n            ...details[noticeID]\n        }\n    };\n});\n"},"id":"ab02fea7-817b-49f6-9567-c268f885df9e","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-80,680]},{"parameters":{"subject":"=Cairnmead Safety Inspection {{ $json[\"ownedSnid\"] }}: SECOND Reminder: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Acknowledgement</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>We acknowledge the importance of ensuring the safety and well-being of everyone involved in the construction process, including workers and the surrounding community. Our initial assessment conducted on {{ $json[\"createdDate\"] }} for {{ $json[\"projectName\"] }} identified certain areas that required corrective measures to mitigate potential health risks. However, we have observed that the recommended actions have not been executed as anticipated, leading to an incomplete assessment report. Five days have lapsed without the close out being received.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.issuedToEmail }},{{ $json.consultantEmail }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $json.ccRecipients }}","from":"={{ $json.consultantEmail }}","saveToSentItems":true}},"id":"348d92ab-5ca8-467a-8d14-d4ce375a88be","name":"Microsoft Outlook1","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[760,560],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"subject":"=Cairnmead Safety Inspection {{ $json[\"ownedSnid\"] }}: THIRD Reminder: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Further Reminder</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>We are writing to provide a further reminder regarding the pending corrective action for the Safety Inspection that was done on the {{ $json[\"createdDate\"] }} that needs to be completed for the {{ $json[\"projectName\"] }} construction project. As you are aware, this is the third reminder after 9 days without a close-out. It is crucial that we address these concerns promptly. By taking the necessary corrective action, we can ensure a safer environment and minimize any potential risk associated with the construction activities on your site.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $('Code6').first().json[\"issuedToEmail\"] }},{{ $('Code6').first().json[\"consultantEmail\"] }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $('Code6').first().json[\"ccRecipients\"] }}","from":"={{ $('Code6').first().json[\"consultantEmail\"] }}","saveToSentItems":true}},"id":"bb280b37-45a7-40ef-85ad-61a04d936551","name":"Microsoft Outlook2","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[980,860],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"subject":"={{ $json[\"ownedSnid\"] }}: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Incomplete Report</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>The recommended actions have not been executed as anticipated, leading to an incomplete assessment report.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>","toRecipients":"={{ $('Code3').first().json[\"issuedToEmail\"] }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $('Code3').first().json[\"ccRecipients\"] }}","from":"={{ $('Code3').first().json[\"consultantEmail\"] }}","saveToSentItems":true}},"id":"b1338938-1d0a-4754-852b-92285e2fb7bc","name":"Microsoft Outlook3","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[1160,1140],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"00 06 * * *"}]}},"id":"9272581d-b15a-4007-8dba-1091d907654f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-900,480]},{"parameters":{"subject":"=Cairnmead Safety Inspection {{ $json[\"ownedSnid\"] }}: FIRST Reminder: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Reminder</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>We are writing to provide a reminder regarding the pending corrective action report for the Safety Inspection that was done on {{ $json[\"createdDate\"] }} that needs to be completed for the {{ $json[\"projectName\"] }} construction project. The three working days to provide a full close out has lapsed without the close out being received.</p>\n    <p>After 5 days without close-out, a further mail will be sent to you and include the client professional team.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.issuedToEmail }},{{ $json.consultantEmail }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $json.ccRecipients }}","from":"={{ $json.consultantEmail }}","saveToSentItems":true}},"id":"a9a77959-07e5-4ea5-a2d1-a0f5bf8f000d","name":"Send mail to recipients","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[540,280],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"ccRecipients","value":"={{ $json.ccRecipients }}"},{"name":"issuedToName","value":"={{ $('Code').item.json.issuedTo }}"},{"name":"issuedToEmail","value":"={{ $('Code').item.json.issueToEmail }}"},{"name":"createdDate","value":"={{ $json.created }}"},{"name":"projectName","value":"={{ $json.projectName }}"},{"name":"nidLinks","value":"={{ $('Code').item.json.Notice_Links }}"},{"name":"consultantName","value":"={{ $('Code').item.json.createdBy }}"},{"name":"consultantEmail","value":"={{ $json.createdPersonEmail }}"}],"number":[{"name":"ownedSnid","value":"={{ $json.Site_Notice_ID }}"},{"name":"projectID","value":"={{ $('Code').item.json.projectId }}"}]},"options":{}},"id":"62fface7-7b64-4014-96e8-a1b5165a9691","name":"Set Fields to Keep","type":"n8n-nodes-base.set","typeVersion":2,"position":[-80,400]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1773},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1342},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1162},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":227},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":370},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1346},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1674},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1268},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1338},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":871},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1755},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":567},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1457},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1435},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1726},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1450},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1739},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1467},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":721},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1697},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1391},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1398},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":642},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1272},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1336},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":598},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1121},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1147},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1797},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1243}]},"combineOperation":"any"},"id":"35323224-ab60-4ede-9b6d-99fcea81cac8","name":"Check if Testing Project","type":"n8n-nodes-base.if","typeVersion":1,"position":[120,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ccRecipients }}","operation":"isNotEmpty"}]}},"id":"2d526c1a-e147-48db-8a86-da7228d82bdf","name":"Check all Recipients","type":"n8n-nodes-base.if","typeVersion":1,"position":[340,380]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"ccRecipients","value":"={{ $json.ccRecipients }}"},{"name":"issuedToName","value":"={{ $('Code1').item.json.issuedTo }}"},{"name":"issuedToEmail","value":"={{ $('Code1').item.json.issueToEmail }}"},{"name":"createdDate","value":"={{ $json.created }}"},{"name":"projectName","value":"={{ $json.projectName }}"},{"name":"nidLinks","value":"={{ $('Code1').item.json.Notice_Links }}"},{"name":"consultantName","value":"={{ $('Code1').item.json.createdBy }}"},{"name":"consultantEmail","value":"={{ $json.createdPersonEmail }}"}],"number":[{"name":"ownedSnid","value":"={{ $json.Site_Notice_ID }}"},{"name":"projectID","value":"={{ $('Code1').item.json.projectId }}"}]},"options":{}},"id":"37a478cc-082c-421b-bf5c-bf0f8431650a","name":"Set Fields to Keep1","type":"n8n-nodes-base.set","typeVersion":2,"position":[120,680]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1773},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1342},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1162},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":227},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":370},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1346},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1674},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1268},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1338},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":871},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1755},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":567},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1457},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1435},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1726},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1450},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1739},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1467},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":721},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1697},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1391},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1398},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":642},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1272},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1336},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":598},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1121},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1147},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1797},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1243}]},"combineOperation":"any"},"id":"07157a50-2bf5-433a-8557-eec354527ecc","name":"Check if Testing Project1","type":"n8n-nodes-base.if","typeVersion":1,"position":[340,680]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ccRecipients }}","operation":"isNotEmpty"}]}},"id":"c8fa7018-f150-465e-b6af-eef57e3e7eb5","name":"Check all Recipients1","type":"n8n-nodes-base.if","typeVersion":1,"position":[580,660]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"ccRecipients","value":"={{ $json.ccRecipients }}"},{"name":"issuedToName","value":"={{ $('Code2').item.json.issuedTo }}"},{"name":"issuedToEmail","value":"={{ $('Code2').item.json.issueToEmail }}"},{"name":"createdDate","value":"={{ $json.created }}"},{"name":"projectName","value":"={{ $json.projectName }}"},{"name":"nidLinks","value":"={{ $('Code2').item.json.Notice_Links }}"},{"name":"consultantName","value":"={{ $('Code2').item.json.createdBy }}"},{"name":"consultantEmail","value":"={{ $json.createdPersonEmail }}"}],"number":[{"name":"ownedSnid","value":"={{ $json.Site_Notice_ID }}"},{"name":"projectID","value":"={{ $('Code2').item.json.projectId }}"}]},"options":{}},"id":"e43f59ad-7e8b-4bbb-9cd8-1f1038cf5742","name":"Set Fields to Keep2","type":"n8n-nodes-base.set","typeVersion":2,"position":[340,980]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"ccRecipients","value":"={{ $json.ccRecipients }}"},{"name":"issuedToName","value":"={{ $('Code3').item.json.issuedTo }}"},{"name":"issuedToEmail","value":"={{ $('Code3').item.json.issueToEmail }}"},{"name":"createdDate","value":"={{ $json.created }}"},{"name":"projectName","value":"={{ $json.projectName }}"},{"name":"nidLinks","value":"={{ $('Code3').item.json.Notice_Links }}"},{"name":"consultantName","value":"={{ $('Code3').item.json.createdBy }}"},{"name":"consultantEmail","value":"={{ $json.createdPersonEmail }}"}],"number":[{"name":"ownedSnid","value":"={{ $json.Site_Notice_ID }}"},{"name":"projectID","value":"={{ $('Code3').item.json.projectId }}"}]},"options":{}},"id":"b7e1cab3-2ea9-40bb-bfc2-a9ac540ef7be","name":"Set Fields to Keep3","type":"n8n-nodes-base.set","typeVersion":2,"position":[580,1260]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1773},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1342},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1162},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":227},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":370},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1346},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1674},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1268},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1338},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":871},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1755},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":567},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1457},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1435},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1726},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1450},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1739},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1467},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":721},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1697},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1391},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1398},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":642},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1272},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1336},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":598},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1121},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1147},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1797},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1243}]},"combineOperation":"any"},"id":"d2c46612-9bd9-4bbb-85a1-3e4054f7bb2c","name":"Check if Testing Project2","type":"n8n-nodes-base.if","typeVersion":1,"position":[580,980]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1773},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1342},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1162},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":227},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":370},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1346},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1674},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1268},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1338},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":871},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1755},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":567},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1457},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1435},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1726},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1450},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1739},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1467},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":721},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1697},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1391},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1398},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":642},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1272},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1336},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":598},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1121},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1147},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1797},{"value1":"={{ $json[\"projectID\"] }}","operation":"equal","value2":1243}]},"combineOperation":"any"},"id":"843d1fe3-9b6f-4d77-a19b-ec5efc3498d0","name":"Check if Testing Project3","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,1260]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ccRecipients }}","operation":"isNotEmpty"}]}},"id":"bc78e09c-7281-403b-86c0-cf04245e8782","name":"Check all Recipients2","type":"n8n-nodes-base.if","typeVersion":1,"position":[800,960]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ccRecipients }}","operation":"isNotEmpty"}]}},"id":"726984b9-dd76-4352-9616-b2ffeb70c88b","name":"Check all Recipients3","type":"n8n-nodes-base.if","typeVersion":1,"position":[980,1240]},{"parameters":{"subject":"=Cairnmead Safety Inspection {{ $json[\"ownedSnid\"] }}: FIRST Reminder: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Reminder</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>We are writing to provide a reminder regarding the pending corrective action report for the Safety Inspection that was done on {{ $json[\"createdDate\"] }} that needs to be completed for the {{ $json[\"projectName\"] }} construction project. The three working days to provide a full close out has lapsed without the close out being received.</p>\n    <p>After 5 days without close-out, a further mail will be sent to you and include the client professional team.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.issuedToEmail }},{{ $json.consultantEmail }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $json.consultantEmail }}","from":"={{ $json.consultantEmail }}","saveToSentItems":true}},"id":"4311b9d3-8138-478d-89ac-01153c26cd7d","name":"Send mail to recipients1","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[540,480],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"subject":"=Cairnmead Safety Inspection {{ $json[\"ownedSnid\"] }}: FIRST Reminder: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Reminder</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>We are writing to provide a reminder regarding the pending corrective action report for the Safety Inspection that was done on {{ $json[\"createdDate\"] }} that needs to be completed for the {{ $json[\"projectName\"] }} construction project. The three working days to provide a full close out has lapsed without the close out being received.</p>\n    <p>After 5 days without close-out, a further mail will be sent to you and include the client professional team.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.issuedToEmail }},{{ $json.consultantEmail }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $json.consultantEmail }}","from":"={{ $json.consultantEmail }}","saveToSentItems":true}},"id":"d21b90fd-7d60-4358-be23-d26aeb931b4a","name":"Send mail to recipients2","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[760,780],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"subject":"=Cairnmead Safety Inspection {{ $json[\"ownedSnid\"] }}: FIRST Reminder: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Reminder</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>We are writing to provide a reminder regarding the pending corrective action report for the Safety Inspection that was done on {{ $json[\"createdDate\"] }} that needs to be completed for the {{ $json[\"projectName\"] }} construction project. The three working days to provide a full close out has lapsed without the close out being received.</p>\n    <p>After 5 days without close-out, a further mail will be sent to you and include the client professional team.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.issuedToEmail }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $json.consultantEmail }}","from":"={{ $json.consultantEmail }}","saveToSentItems":true}},"id":"dae60d89-1fe3-42d9-a0c5-f92304549bfc","name":"Send mail to recipients3","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[980,1060],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}},{"parameters":{"subject":"=Cairnmead Safety Inspection {{ $json[\"ownedSnid\"] }}: FIRST Reminder: Pending Corrective Action Required","bodyContent":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Reminder</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.5;\n            margin: 20px;\n        }\n        a {\n            color: #007BFF;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <p>Dear {{ $json[\"issuedToName\"] }},</p>\n    <p>We are writing to provide a reminder regarding the pending corrective action report for the Safety Inspection that was done on {{ $json[\"createdDate\"] }} that needs to be completed for the {{ $json[\"projectName\"] }} construction project. The three working days to provide a full close out has lapsed without the close out being received.</p>\n    <p>After 5 days without close-out, a further mail will be sent to you and include the client professional team.</p>\n    <p>To view the outstanding notices, click on this link:<br>\n    {{ $json[\"nidLinks\"] }}</p>\n    <p>Best Regards,</p>\n</body>\n</html>\n","toRecipients":"={{ $json.issuedToEmail }}","additionalFields":{"bodyContentType":"html","ccRecipients":"={{ $json.consultantEmail }}","from":"={{ $json.consultantEmail }}","saveToSentItems":true}},"id":"dad0b633-e36f-4fda-8227-96f1ad948482","name":"Send mail to recipients4","type":"n8n-nodes-base.microsoftOutlook","typeVersion":1,"position":[1160,1360],"credentials":{"microsoftOutlookOAuth2Api":{"id":"d1RPdPtZ5DNgoHVW","name":"Cairnmead Outlook"}}}],"connections":{"Get Data from MSSQL":{"main":[[{"node":"Check If 3 Days Old","type":"main","index":0}]]},"Check If 3 Days Old":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Check If 5 Days Old","type":"main","index":0}]]},"Code":{"main":[[{"node":"Set Fields to Keep","type":"main","index":0}]]},"Check If 5 Days Old":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Check If 9 Days Old","type":"main","index":0}]]},"Check If 9 Days Old":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Check If > 10 Days Old","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Set Fields to Keep3","type":"main","index":0}]]},"Check If > 10 Days Old":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Set Fields to Keep2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Set Fields to Keep1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Data from MSSQL","type":"main","index":0}]]},"Set Fields to Keep":{"main":[[{"node":"Check if Testing Project","type":"main","index":0}]]},"Check if Testing Project":{"main":[[{"node":"Check all Recipients","type":"main","index":0}]]},"Check all Recipients":{"main":[[{"node":"Send mail to recipients","type":"main","index":0}],[{"node":"Send mail to recipients1","type":"main","index":0}]]},"Set Fields to Keep1":{"main":[[{"node":"Check if Testing Project1","type":"main","index":0}]]},"Check if Testing Project1":{"main":[[{"node":"Check all Recipients1","type":"main","index":0}]]},"Set Fields to Keep2":{"main":[[{"node":"Check if Testing Project2","type":"main","index":0}]]},"Set Fields to Keep3":{"main":[[{"node":"Check if Testing Project3","type":"main","index":0}]]},"Check all Recipients1":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}],[{"node":"Send mail to recipients2","type":"main","index":0}]]},"Check if Testing Project2":{"main":[[{"node":"Check all Recipients2","type":"main","index":0}]]},"Check if Testing Project3":{"main":[[{"node":"Check all Recipients3","type":"main","index":0}]]},"Check all Recipients2":{"main":[[{"node":"Microsoft Outlook2","type":"main","index":0}],[{"node":"Send mail to recipients3","type":"main","index":0}]]},"Check all Recipients3":{"main":[[{"node":"Microsoft Outlook3","type":"main","index":0}],[{"node":"Send mail to recipients4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":null,"pinData":{},"versionId":"73dd4abc-39ec-49e7-a49d-c3a521d01551","triggerCount":1,"tags":[]}