Xero-API's.json
{"createdAt":"2024-01-16T08:31:25.881Z","updatedAt":"2024-01-18T12:57:12.000Z","id":"fw95egscjfpsHWUX","name":"Xero API's","active":false,"nodes":[{"parameters":{"url":"https://api.xero.com/api.xro/2.0/Invoices","authentication":"predefinedCredentialType","nodeCredentialType":"xeroOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Xero-Tenant-Id","value":"741c148e-b120-4220-8c39-197ea72ff81d"}]},"options":{}},"id":"5c6c8793-23a0-4299-8cd2-9521440dc146","name":"Get Invoices","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-860,-140],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"}}},{"parameters":{"httpMethod":"POST","path":"createQuote","responseMode":"responseNode","options":{"rawBody":true}},"id":"991d4a01-7369-44a7-8776-8bad16dd8a6a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1860,-280],"webhookId":"86f7e2c3-36ea-48d5-9aaa-34461274e911"},{"parameters":{"options":{}},"id":"aaa3d436-f604-46f8-aae5-b86576afc49c","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-540,-300]},{"parameters":{"fields":{"values":[{"name":"InvoiceID","stringValue":"={{ $json.Invoices[0].InvoiceID }}"},{"name":"InvocieNumber","stringValue":"={{ $json.Invoices[0].InvoiceNumber }}"},{"name":"InvoiceTotal","type":"numberValue","numberValue":"={{ $json.Invoices[0].AmountDue }}"}]},"include":"none","options":{}},"id":"b009666f-dee6-4527-90f9-8a530631de63","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-680,-160]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if(item.json?.body){\n    item.json.body.myNewTry = 1;\n    return item.json.body;\n  } else {\n    return null;\n  }\n}\n\n// return $input.all();"},"id":"e2482729-95e7-43cc-bb48-8f018ebe938b","name":"Manipulate Bubble Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1720,-280]},{"parameters":{"url":"https://api.xero.com/api.xro/2.0/Contacts","authentication":"predefinedCredentialType","nodeCredentialType":"xeroOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"summaryOnly","value":"true"},{"name":"searchTerm"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Xero-Tenant-Id","value":"741c148e-b120-4220-8c39-197ea72ff81d"}]},"options":{}},"id":"f1db3f53-1c90-4a75-9f09-beab9dea5ecb","name":"Get Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1240,-160],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"}}},{"parameters":{"method":"POST","url":"https://api.xero.com/api.xro/2.0/Contacts","authentication":"predefinedCredentialType","nodeCredentialType":"xeroOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Xero-Tenant-Id","value":"741c148e-b120-4220-8c39-197ea72ff81d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.Output }}","options":{}},"id":"fbb50fc2-1641-4822-a14e-5fcc076b3309","name":"Create Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-720,-500],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"}}},{"parameters":{"url":"https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Dev/Clients","authentication":"predefinedCredentialType","nodeCredentialType":"nocoDbApiToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"where","value":"=(ClientId,eq,{{ $json.ClientId }})"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"xc-token","value":"bk5Lq4oN1PK_v2pykVNn6E8YTzgUBa0QUrtiCua9"}]},"options":{}},"id":"50a423e7-f7d4-481d-8c40-caa80022e02d","name":"Get Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1380,-500],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"},"nocoDbApiToken":{"id":"mLas4eI6qVyjoh3x","name":"NocoDB Token account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ClientXeroId }}","operation":"isEmpty"}]}},"id":"66743e3a-dbf3-4eee-902b-eb3ac7493d5b","name":"IF  Contact Empty","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1560,-280]},{"parameters":{"mode":"raw","jsonOutput":"={\"Output\":\n{\n    \"Contacts\": [\n        {\n            \"AccountNumber\": \"{{ $json.ProjectName.substring(0,3).toUpperCase() }}001\",\n            \"Name\": \"{{ $json.ProjectName.substring(0,3).toUpperCase() }}001 {{ $json.ClientName }}\",\n            \"FirstName\": \"{{ $json.ClientRepresentativeFirstName }}\",\n            \"LastName\": \"{{ $json.ClientRepresentativeLastName }}\",\n            \"EmailAddress\": \"{{ $json.ClientRepresentative.EmailAddress }}\",\n            \"Phones\": [\n                {\n                    \"PhoneType\": \"MOBILE\",\n                    \"PhoneNumber\": \"{{ $json.ClientRepresentativeMobileNumber }}\",\n                    \"PhoneAreaCode\": \"27\"\n                }\n            ]\n        }\n    ]\n} \n}","include":"none","options":{}},"id":"b9700794-e7aa-4078-b339-c1144b69b96f","name":"Edit Fields for Creating Contact","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-900,-500]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d26a5ec0-1d33-4597-96a8-7dddb3e93fb9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1060,-500]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  return  item.json?.list[0];\n}\n"},"id":"a54b54f6-90e8-498f-940f-919df3f585af","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,-500]},{"parameters":{"url":"https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Dev/Clients","authentication":"predefinedCredentialType","nodeCredentialType":"nocoDbApiToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"where","value":"=(ClientId,eq,{{ $json.ClientId }})"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"xc-token","value":"bk5Lq4oN1PK_v2pykVNn6E8YTzgUBa0QUrtiCua9"}]},"options":{}},"id":"ad91278c-86a3-4a57-9784-260984475551","name":"Get Client1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,-500],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"},"nocoDbApiToken":{"id":"mLas4eI6qVyjoh3x","name":"NocoDB Token account"}}}],"connections":{"Webhook":{"main":[[{"node":"Manipulate Bubble Data","type":"main","index":0}]]},"Get Invoices":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Manipulate Bubble Data":{"main":[[{"node":"IF  Contact Empty","type":"main","index":0}]]},"IF  Contact Empty":{"main":[[{"node":"Get Client","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Get Client":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields for Creating Contact","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields for Creating Contact":{"main":[[{"node":"Create Contact","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"83e4d793-845c-4dc6-9f35-85de9491515c","triggerCount":0,"tags":[]}