Xero-API's.json
{"createdAt":"2024-01-16T08:31:25.881Z","updatedAt":"2024-01-19T13:34:08.000Z","id":"fw95egscjfpsHWUX","name":"Xero API's","active":false,"nodes":[{"parameters":{"url":"https://api.xero.com/api.xro/2.0/Invoices","authentication":"predefinedCredentialType","nodeCredentialType":"xeroOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Xero-Tenant-Id","value":"741c148e-b120-4220-8c39-197ea72ff81d"}]},"options":{}},"id":"5c6c8793-23a0-4299-8cd2-9521440dc146","name":"Get Invoices","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-160,40],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"}}},{"parameters":{"httpMethod":"POST","path":"createQuote","responseMode":"responseNode","options":{"rawBody":true}},"id":"991d4a01-7369-44a7-8776-8bad16dd8a6a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1860,-280],"webhookId":"86f7e2c3-36ea-48d5-9aaa-34461274e911"},{"parameters":{"options":{}},"id":"aaa3d436-f604-46f8-aae5-b86576afc49c","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[400,40]},{"parameters":{"fields":{"values":[{"name":"InvoiceID","stringValue":"={{ $json.Invoices[0].InvoiceID }}"},{"name":"InvocieNumber","stringValue":"={{ $json.Invoices[0].InvoiceNumber }}"},{"name":"InvoiceTotal","type":"numberValue","numberValue":"={{ $json.Invoices[0].AmountDue }}"}]},"include":"none","options":{}},"id":"b009666f-dee6-4527-90f9-8a530631de63","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[100,40]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if(item.json?.body){\n    item.json.body.myNewTry = 1;\n    return item.json.body;\n  } else {\n    return null;\n  }\n}\n\n// return $input.all();"},"id":"e2482729-95e7-43cc-bb48-8f018ebe938b","name":"Manipulate Bubble Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1720,-280]},{"parameters":{"url":"=https://api.xero.com/api.xro/2.0/Contacts/{{ $json.ClientXeroId }}","authentication":"predefinedCredentialType","nodeCredentialType":"xeroOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"summaryOnly","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Xero-Tenant-Id","value":"741c148e-b120-4220-8c39-197ea72ff81d"}]},"options":{}},"id":"f1db3f53-1c90-4a75-9f09-beab9dea5ecb","name":"Get Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1320,-140],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"}}},{"parameters":{"method":"POST","url":"https://api.xero.com/api.xro/2.0/Contacts","authentication":"predefinedCredentialType","nodeCredentialType":"xeroOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Xero-Tenant-Id","value":"741c148e-b120-4220-8c39-197ea72ff81d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.Output }}","options":{}},"id":"fbb50fc2-1641-4822-a14e-5fcc076b3309","name":"Create Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-720,-480],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"}}},{"parameters":{"url":"https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Dev/Clients","authentication":"predefinedCredentialType","nodeCredentialType":"nocoDbApiToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"where","value":"=(ClientId,eq,{{ $json.ClientId }})"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"xc-token","value":"bk5Lq4oN1PK_v2pykVNn6E8YTzgUBa0QUrtiCua9"}]},"options":{}},"id":"50a423e7-f7d4-481d-8c40-caa80022e02d","name":"Get Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1380,-500],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"},"nocoDbApiToken":{"id":"mLas4eI6qVyjoh3x","name":"NocoDB Token account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.ClientXeroId }}","operation":"isEmpty"}]}},"id":"66743e3a-dbf3-4eee-902b-eb3ac7493d5b","name":"IF  Contact Empty","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1560,-280]},{"parameters":{"mode":"raw","jsonOutput":"={\"Output\":\n{\n    \"Contacts\": [\n        {\n            \"AccountNumber\": \"{{ $json.ProjectName.substring(0,3).toUpperCase() }}001\",\n            \"Name\": \"{{ $json.ProjectName.substring(0,3).toUpperCase() }}001 {{ $json.ClientName }}\",\n            \"FirstName\": \"{{ $json.ClientRepresentativeFirstName }}\",\n            \"LastName\": \"{{ $json.ClientRepresentativeLastName }}\",\n            \"EmailAddress\": \"{{ $json.ClientRepresentative.EmailAddress }}\",\n            \"Phones\": [\n                {\n                    \"PhoneType\": \"MOBILE\",\n                    \"PhoneNumber\": \"{{ $json.ClientRepresentativeMobileNumber }}\",\n                    \"PhoneAreaCode\": \"27\"\n                }\n            ]\n        }\n    ]\n} \n}","include":"none","options":{}},"id":"b9700794-e7aa-4078-b339-c1144b69b96f","name":"Edit Fields for Creating Contact","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-880,-480]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"d26a5ec0-1d33-4597-96a8-7dddb3e93fb9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1060,-480]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  return  item.json?.list[0];\n}\n"},"id":"a54b54f6-90e8-498f-940f-919df3f585af","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,-500]},{"parameters":{"method":"PATCH","url":"=https://cairn-api.azurewebsites.net/api/v1/db/data/v1/Cairnmead-Dev/Clients/{{ $json.ClientId }}","authentication":"predefinedCredentialType","nodeCredentialType":"nocoDbApiToken","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"xc-token","value":"bk5Lq4oN1PK_v2pykVNn6E8YTzgUBa0QUrtiCua9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"XeroID\": \"{{ $json.ContactXeroID }}\"\n}","options":{}},"id":"ad91278c-86a3-4a57-9784-260984475551","name":"Update Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-140,-460],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"},"nocoDbApiToken":{"id":"mLas4eI6qVyjoh3x","name":"NocoDB Token account"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e4554fa5-6e4f-4259-9220-7f405bd159af","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-340,-460]},{"parameters":{"fields":{"values":[{"name":"ContactXeroID","stringValue":"={{ $json.Contacts[0].ContactID}}"}]},"include":"none","options":{}},"id":"1b9c420f-b492-45c8-84a0-df874ca69e92","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-540,-480]},{"parameters":{"fields":{"values":[{"name":"ClientId","stringValue":"={{ $json.ClientId }}"}]},"include":"none","options":{}},"id":"fad0df32-923d-4781-97ed-6188ed4ba27f","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-1100,-300]},{"parameters":{"fields":{"values":[{"name":"InvoiceID","stringValue":"={{ $json.Contacts[0].ContactID }}"},{"name":"AccountNumber","stringValue":"= {{ ($json.Contacts[0].AccountNumber.substring(0,3)).toString() +((parseInt($json.Contacts[0].AccountNumber.substring(3,6)) + 1).toLocaleString('en-US', {minimumIntegerDigits: 3, useGrouping:false})).toString()}}"},{"name":"Name","stringValue":"={{ (($json.Contacts[0].Name.substring(0,3)).toString() +((parseInt($json.Contacts[0].Name.substring(3,6)) + 1).toLocaleString('en-US', {minimumIntegerDigits: 3, useGrouping:false})).toString()) + $json.Contacts[0].Name.substring(6) }}"},{}]},"include":"none","options":{}},"id":"0fcddb00-ce36-4a5d-8019-6b4d4e691582","name":"Edit Increment Accnum","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-1120,-140]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"ced3b49a-ada9-4e20-9e0a-028c14eb95c3","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-800,0]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"Quotes\": [\n    {\n      \"Contact\": {\n        \"ContactID\": \"{{ $json.ClientXeroId }}\"\n      },\n      \"LineItems\": [\n        {\n          \"Description\": \"Foobar\",\n          \"Quantity\": 1,\n          \"UnitAmount\": 20,\n          \"AccountCode\": \"12775\"\n        }\n      ],\n      \"Date\": \"2020-02-01\"\n    }\n  ]\n}","include":"none","options":{}},"id":"1cce9784-2785-48a5-b40e-826819fd1c95","name":"get fields for quote","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-360,-140]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let CWP = item.json.CWPs.replace(\"}],[{\", \"},{\");\n  CWP = CWP.replace(/: ,/gi, \": null,\");\n  CWP = CWP.replace(/_id\": /gi, \"_id\\\": null\");\n  CWP = JSON.parse(CWP);\n\n  let Docs =  item.json.Docs.replace(\"}],[{\", \"},{\");\n  Docs = Docs.replace(/: ,/gi, \": null,\");\n  Docs = Docs.replace(/_id\": /gi, \"_id\\\": null\");\n  Docs = JSON.parse(Docs);\n\n  let Audits =  item.json.Audits.replace(\"}],[{\", \"},{\");\n  Audits = Audits.replace(/: ,/gi, \": null,\");\n  Audits = Audits.replace(/_id\": /gi, \"_id\\\": null\");\n  Audits = JSON.parse(Audits);\n\n  let Travel =  item.json.Travel.replace(\"}],[{\", \"},{\");\n  Travel = Travel.replace(/: ,/gi, \": null,\");\n  Travel = Travel.replace(/_id\": /gi, \"_id\\\": null\");\n    console.log('Gere', Travel);\n  Travel = JSON.parse(Travel);\n\n  let LineItems = [];\n \n  for(let i = 0; i <= CWP.length; i++){\n    if(typeof CWP[i] !== 'undefined'){ \n       LineItems.push( {\n          \"Description\": CWP[i].Comments === null ? `Construction Work Permit ${i+1}`: CWP[i].Comments, \n          \"Quantity\": 1,\n          \"UnitAmount\": CWP[i].Pricing,\n          \"AccountCode\": item.json.AccountNumber\n        })\n    }\n  \n\nfor(let i = 0; i <= Docs.length; i++){\n  if(typeof Docs[i] !== 'undefined'){ \n       LineItems.push( {\n          \"Description\": Docs[i].IsBaselineSpec ? `Baseline Specification Document ${i+1}`: `Document ${i+1}`, \n          \"Quantity\": 1,\n          \"UnitAmount\": Docs[i].Pricing,\n          \"AccountCode\": item.json.AccountNumber\n        })\n  }\n    \n  }\n\n    for(let i = 0; i <= Audits.length; i++){\n  if(typeof Audits[i] !== 'undefined'){ \n       LineItems.push( {\n          \"Description\": `${Audits[i].AuditFrequency} Audit `, \n          \"Quantity\": parseInt(Audits[i].TotalAudits)*parseInt(Audits[i].HoursPerAudit)*1,\n          \"UnitAmount\": parseFloat(Audits[0].PricePerHour)*1,\n          \"AccountCode\": item.json.AccountNumber\n        })\n  }\n    \n  }\n\n  }\n\n\n}\n\nreturn $input.all();"},"id":"55277676-29b5-448e-ad53-8d41dd0c5a0f","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,0]}],"connections":{"Webhook":{"main":[[{"node":"Manipulate Bubble Data","type":"main","index":0}]]},"Get Invoices":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Manipulate Bubble Data":{"main":[[{"node":"IF  Contact Empty","type":"main","index":0}]]},"IF  Contact Empty":{"main":[[{"node":"Get Client","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Get Contact","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Get Client":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields for Creating Contact","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields for Creating Contact":{"main":[[{"node":"Create Contact","type":"main","index":0}]]},"Create Contact":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Update Client","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get Contact":{"main":[[{"node":"Edit Increment Accnum","type":"main","index":0}]]},"Edit Increment Accnum":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9c463bd6-f90d-4791-85c9-3ed4acf4bbb7","triggerCount":0,"tags":[]}