Xero-API's.json
{"createdAt":"2024-01-16T08:31:25.881Z","updatedAt":"2024-01-17T15:04:33.000Z","id":"fw95egscjfpsHWUX","name":"Xero API's","active":false,"nodes":[{"parameters":{"url":"https://api.xero.com/api.xro/2.0/Invoices","authentication":"predefinedCredentialType","nodeCredentialType":"xeroOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Xero-Tenant-Id","value":"741c148e-b120-4220-8c39-197ea72ff81d"}]},"options":{}},"id":"5c6c8793-23a0-4299-8cd2-9521440dc146","name":"Get Invoices","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1300,-320],"credentials":{"xeroOAuth2Api":{"id":"xswLVxRU6tVGvHgk","name":"Demo Company Xero"}}},{"parameters":{"path":"getInvocies","responseMode":"responseNode","options":{}},"id":"991d4a01-7369-44a7-8776-8bad16dd8a6a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1480,-320],"webhookId":"86f7e2c3-36ea-48d5-9aaa-34461274e911"},{"parameters":{"options":{}},"id":"aaa3d436-f604-46f8-aae5-b86576afc49c","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-920,-320]},{"parameters":{"fields":{"values":[{"name":"InvoiceID","stringValue":"={{ $json.Invoices[0].InvoiceID }}"},{"name":"InvocieNumber","stringValue":"={{ $json.Invoices[0].InvoiceNumber }}"},{"name":"InvoiceTotal","type":"numberValue","numberValue":"={{ $json.Invoices[0].AmountDue }}"}]},"include":"none","options":{}},"id":"b009666f-dee6-4527-90f9-8a530631de63","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-1120,-320]}],"connections":{"Webhook":{"main":[[{"node":"Get Invoices","type":"main","index":0}]]},"Get Invoices":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2323ab58-466f-4497-8c6a-e98fb4288dcc","triggerCount":0,"tags":[]}